<div class="col-md-12">
  <div class="task">
    <%= link_to("新增任务", new_admin_task_path, class: "btn btn-primary pull-right") %>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>发布时间</th>
        <th>任务</th>
        <th>叙述</th>
        <th>创建者</th>
        <th>得分</th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= task.created_at %></td>
          <td><%= link_to(task.title, task_path(task)) %>

            <div class="pull-right">
              <%= link_to("Edit", edit_admin_task_path(task), class: "btn btn-sm btn-default")%>
              <%= link_to("Delete", task_path(task), class: "btn btn-sm btn-default",
                          method: :delete, data: { confirm: "Are you sure?" } )%>
            </div>

          </td>
          <td><%= task.description %></td>

          <td><%= task.user.email %></td>
          <td><%= task.score %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <span class="pull-right">
     <span>
        <% sum = 0 %>
        <% @tasks.each do |task| %>
        <% %>
        <% sum = sum + task.score %>
        <% end %>
        <h4>总计 <%= sum %> 分</h4>
     </span>
  </span>
</div>
